[Unit]
Description=Camera Node Service
After=network-online.target wifi-powersave-off.service
Wants=network-online.target wifi-powersave-off.service

[Service]
User=pi
WorkingDirectory=/home/pi/camera_node
ExecStart=/home/pi/camera_node/venv/bin/python3 /home/pi/camera_node/src/camera_node.py
Restart=always
RestartSec=2
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
