[Unit]
Description=Camera Node Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/camera_node
ExecStart=/home/pi/camera_node/venv/bin/python3 /home/pi/camera_node/src/camera_node.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
