[Unit]
Description=TFT UI Service
After=graphical.target
Wants=graphical.target

[Service]
User=pi
WorkingDirectory=/home/pi/hub_server
Environment=DISPLAY=:0
ExecStart=/home/pi/hub_server/venv/bin/python /home/pi/hub_server/tft_ui.py
Restart=always
RestartSec=2

[Install]
WantedBy=graphical.target
