[Unit]
Description=Storage Monitor Service
After=multi-user.target

[Service]
User=pi
WorkingDirectory=/home/pi/hub_server
ExecStart=/home/pi/hub_server/venv/bin/python /home/pi/hub_server/storage_monitor.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
